
    <main>
      <h1>{{result.name}}</h1>
      <img class="cube" src="{{result.imageUrl}}">
      <div class="details">
        <p><span>Description:</span> {{result.description}}</p>
        <p><span>Difficulty level:</span> {{result.difficultyLevel}}</p>
        <a class="btn" href="/cubics">Back</a>
        {{#if isOwn}}
        <a class="btn" href="/cubics/{{result._id}}/attach">Attach Accessory</a>
        <a class="btn" href="/cubics/{{result._id}}/edit">Edit</a>
        <a class="btn" href="/cubics/{{result._id}}/delete">Delete</a>
        {{/if}}
      </div>
       <h2>Accessories</h2>
            <div class="accessories">

               {{#each result.accessories}}
                {{>accessory}}
                {{else}}
                <h3 class="italic">This cube has no accessories yet...</h3>

               {{/each}}
             
            </div>
    </main>
