
        <main>
            <h1>{{title}}</h1>
            <div class="form">
                <form action="/cubics/{{result._id}}/edit" method="POST">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" value="{{result.name}}">
                    <label for="description">Description</label>
                    <textarea id="description" name="description">{{result.description}}</textarea>
                    <label for="image">ImageUrl</label>
                    <input type="text" id="image" name="imageUrl" value="{{result.imageUrl}}">
                    <label for="difficulty">Difficulty</label>
                    <select id="difficulty" name="difficultyLevel" />
                    <option value="1">{{result.difficultyLevel}}</option>
                   
                    </select>
                    <input type="submit" value="Edit">
                </form>
            </div>
        </main>
